*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
}

a{
    font-size: 1rem;
}

p{
    font-size: 1.2rem;
}

h1{
    font-size: 2.4rem;
}

.top-bar{
    width:100%;
    height:1vh;
    background-color:rgb(128, 128, 207);
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.div-header{
    padding: 0.5rem 20%;
    margin-bottom: 0.5vh;
}

.center-div-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}

.center-div-header img{
    transition: all 300ms ease;
}

.center-div-header img:hover{
    transform: scale(1.1);
}

.center-div-header ul{
    list-style: none;
    display: flex;
    
}

.center-div-header ul li{
    margin-inline: 1rem;
}

.center-div-header a{
    color: white;
    font-weight: 700;
    text-decoration: none;
    border: 0.1rem solid ;
    padding: 1rem 2rem;
    text-transform: uppercase;
    background-color: rgb(128, 128, 207);
    border-radius: 0.3rem;
    transition: all 300ms ease;
}

.center-div-header a:hover{
    background-color: rgba(128, 128, 207,0.5);
    
}

.image-section{
    width:100%;
    height:50vh;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image-centralized{
    height:50vh;
    width: 120vh;
    background-image: url(../static/imagens/capa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.text-section{
    display: flex;
    width: 100%;
    padding: 0 21.5% ;
    margin-top: 1%;
  
    
}

.about-university{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.text-section-paragraph{
    margin-top:2vh;
}

footer{
    padding: 3vh;
    width: 100%; 
    margin-top: 0vh;
    text-align: center;
    font-weight: bold;
    bottom: 0; 
}